# Server Configuration
PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5000

# Frontend Configuration
FRONTEND_URL=http://localhost:3000

# Database Configuration
DATABASE_URL=

# Better Auth Configuration
BETTER_AUTH_URL=http://localhost:5000
BETTER_AUTH_SECRET=
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d

# JWT Configuration
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/callback/google

# SMTP / Email Configuration
EMAIL_SENDER_SMTP_USER=
EMAIL_SENDER_SMTP_PASS=
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=587
EMAIL_SENDER_SMTP_FROM=

# Initial Super Admin Credentials
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# SSL
SSL_STORE_ID=
SSL_STORE_PASSWORD=
SSL_IS_LIVE=false

BACKEND_URL=http://localhost:5000
ADMIN_SECRET=